.cabecalho { 
    background-color: rgb(1, 37, 73);
    color:#fff6f6
    display: flex;
    justify-content:space-round;
}

.cabecalho-imagem{
width:20%;
}

.cabecalho-lista-item{
    display:inline-block;
    margin:0;
}