.cabecalho { 
    background-color: rgb(4, 40, 75);
    color:#ffffff
    display: flex;
    justify-content:space-round;
}

.cabecalho-imagem{
width:20%;
}

.cabecalho-lista-item{
    display:inline-block;
    margin:0;
}