.cabecalho { 
    background-color: rgb(255, 255, 255);
    color:#020533
    display: flex;
    justify-content:space-round;
}

.cabecalho-imagem{
width:20%;
}

.cabecalho-lista-item{
    display:inline-block;
    margin:0;
}